body{
    background-color: azure;
    text-align: center;
}

.icones{
    color: rgb(41, 108, 172);
    font-size: 120px;
}

.icones:hover{
    color: white;
    background-color: rgb(41, 108, 172);;
    cursor: pointer;



}
.icones2 {
  color: yellow;
  background-color: green;
  font-size: 120px;
  padding: 2px;
}

.icones2:hover {
  color: green;
  background-color: yellow;
  padding: 2px;
  cursor: pointer;
}